<div class="container">
  <div class="card w-75 mx-auto mt-3">
    <div class="card-header">
      <h3 class="mb-0">Adicionando curso a Trilha: <%= @course_trail.trail.title %></h3>
    </div>
    <%= render 'course_trails/form' %>
  </div>
</div>