<div class="row" style="font-size: 1.4rem">
  <div class="col-3 font-weight-bold">E-mail</div>
  <div class="col-9"><%= @student.email %></div>
</div>

<div class="row" style="font-size: 1.4rem">
  <div class="col-3 font-weight-bold">Cursos</div>
  <div class="col-9"><%= @student.courses.size %></div>
</div>

<div class="row" style="font-size: 1.4rem">
  <div class="col-3 font-weight-bold">Seguindo</div>
  <div class="col-9"><%= @student.follow_count %></div>
</div>