<div class="container">
  <%= render 'courses/search_form' %>

  <h1>Cursos</h1>
  <hr />
  <% if @courses.any? %>
    <%= render partial: 'courses/courses', locals: {courses: @courses } %>
  <% else %>
    <div class="alert alert-warning">
      Não existem cursos cadastrados!
    </div>
  <% end %>
</div>

<div class="pt-3" style="background-color: #DBD5E1">
  <div class="container">
    <h1>Professores</h1>
    <hr />
    <% if @teachers.any? %>
      <%= render partial: 'teachers/teachers', locals: { teachers: @teachers } %>
    <% else %>
      <div class="alert alert-warning">
        Não existem professores cadastrados!
      </div>
    <% end %>
  </div>
</div>

<div class="pt-3 container">
  <h1>Trilhas</h1>
  <hr />
  <% if @trails.any? %>
    <%= render 'trails/trails' %>
  <% else %>
    <div class="alert alert-warning">
      Não existem trilhas cadastradas!
    </div>
  <% end %>
</div>