<div class="container">
  <h1>Finalizando Compra</h1>

  <div class="accordion" id="accordionPay">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Cursos do pedido
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionPay">
        <div class="card-body">
          <%= render partial: 'orders/order', locals: { order: @order } %>
          <h5>Total: <%= number_to_currency(@order.total_price(@active_discount)) %></h5>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Dados do pagamento
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionPay">
        <div class="card-body">
          <div class="alert alert-info">
            Aqui ficaria as opções de pagamento, formulário de cartão etc.
          </div>
          <%= link_to 'Finalizar', finalize_order_path, class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </div>
</div>