<div class="row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
    <div class="card" style="width: 220px; height: 350px;">
      <div class="p-2 text-center">
        <img src="http://terciocumbe.com/templates/terciocumbe/img/web-logos.png"
             alt="Trail picture" class="card-img-top" style="width: 190px; height: 190px;">
      </div>
      <hr>
      <div class="card-body pt-0 pb-2">
        <h3 class="card-title mb-1 lists-card-title">
          <a href="#">Programação Web</a>
        </h3>
        <h5>
          4 Cursos
        </h5>
      </div>
    </div>
  </div>
</div>