<div class="container">
  <div class="card w-75 mx-auto mt-3">
    <div class="card-header">
      <h3 class="mb-0">Editando Trilha <%= @trail.title %></h3>
    </div>
    <%= render 'trails/form' %>
  </div>
</div>