<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Trilhas</h1>
    <%= link_to 'Criar', new_trail_path, class: 'btn btn-success' %>
  </div>
  <hr />
  <% if @trails.any? %>
    <%= render partial: 'trails/trails', locals: { trails: @trails } %>
  <% else %>
    <div class="alert alert-warning">
      Não existem trilhas cadastradas!
    </div>
  <% end %>
</div>