<div class="card">
  <div class="card-header">
    <h3 class="mb-0">Aulas</h3>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <% @lessons.each do |lesson| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h5><%= lesson.title %></h5>
          <div>
            <% if current_user.student.has_course?(lesson.course) %>
              <%= link_to 'Assistir aula', lesson_path(lesson), class: 'btn btn-primary' %>
            <% end %>
            <% if lesson.course.teacher == current_user.teacher %>
              <%= link_to 'Editar', edit_lesson_path(lesson), class: 'btn btn-primary' %>
              <%= link_to 'Excluir', lesson_path(lesson), method: :delete,
                          data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger' %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>