<h1><%= @lesson.title %></h1>

<p><%= @lesson.description %></p>

<% if current_user.teacher == @lesson.course.teacher %>
  <%= link_to 'Editar aula', edit_lesson_path(@lesson), class: 'btn btn-primary' %>
<% end %>