<div class="row">
  <% rates.each do |rate| %>
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
      <div class="card">
        <div class="card">
          <div class="card-body">
            <div class="course-rate-show mb-3" data-rate="<%= rate.rate %>"></div>
            <p><%= rate.comment %></p>
            <span class="text-muted">
              por
              <a href="#"><%= rate.student.user.name %></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>