<div class="card w-75 mx-auto mt-3">
  <div class="card-header">
    <h3 class="mb-0">Editando avaliação do curso: <%= @course_rating.course.name %></h3>
  </div>
  <%= render 'course_ratings/form' %>
</div>