<div class="container">
  <div class="card w-75 mx-auto mt-3">
    <div class="card-header">
      <h3 class="mb-0">Avaliando curso: <%= @course_rating.course.name %></h3>
    </div>
    <%= render 'course_ratings/form' %>
  </div>
</div>