<div class="row">
  <% teachers.each do |teacher| %>
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= teacher.user.name %></h5>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle"><%= teacher.courses.count %> curso(s)</h6>
          <p class="card-text"><%= teacher.user.email %></p>
        </div>
        <div class="card-footer">
          <%= link_to 'Perfil', teacher_path(teacher), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>