<div class="row">
  <% courses.each do |course| %>
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
      <div class="card w-75 mx-auto">
        <div class="card-body">
          <h5 class="card-title"><%= course.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">por <%= course.teacher.user.name %></h6>
          <p class="card-text"><%= course.description %></p>
          <a href="#" class="card-link">Info</a>
          <a href="#" class="card-link">Comprar</a>
        </div>
      </div>
    </div>
  <% end %>
</div>