<div class="row">
  <% courses.each do |course| %>
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
      <div class="card w-75 mx-auto">
        <div class="card-body">
          <h5 class="card-title"><%= course.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">por <%= course.teacher.user.name %></h6>
          <p class="card-text"><%= course.description %></p>
          <%= link_to 'Info', course_path(course), class: 'card-link' %>
          <% unless course_teacher?(course) %>
            <a href="#" class="card-link">Comprar</a>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>