<div class="my-3">
  <%= form_tag search_courses_path, method: :get, class: 'form-inline' do %>
    <div class="w-75 mx-auto d-flex justify-content-center">
      <div class="form-group w-75 mr-2">
        <%= text_field_tag :search, params[:search], class: 'form-control w-100', placeholder: 'Busque qualquer curso' %>
      </div>
      <%= submit_tag 'Buscar', class: 'btn btn-primary w-25' %>
    </div>
  <% end %>
</div>