<h1>Cursos</h1>

<% if user_signed_in? && current_user.teacher? %>
  <%= link_to 'Meus cursos', teacher_courses_courses_path, class: 'btn btn-primary mb-4' %>
<% end %>

<%= render partial: 'courses/courses', locals: { courses: @courses } %>