#discount-msg {
  //background-color: #D1ECF1;
  background-color: #8E3DF1;

  //color: #247A9A;
  color: #FFF;
}

.ml2 {
  font-weight: 900;
  //font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}