#discount-msg {
  //background-color: #8E3DF1;
  background-color: #323232;
}

#discount-msg-inside {
  background-color: #FFF;
  color: #000;
  border-radius: 10px;
}

.ml2 {
  font-weight: 900;
  //font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}