* {
  font-family: Ubuntu, sans-serif;
}

html, body {
  height: 100%!important;
}

body {
  background-color: #F5F5F5;
}

.content {
  min-height: calc(100vh - 204px);
}

.footer {
  flex-shrink: 0;
  height: 60px;
  line-height: 60px;
}

.text-line-through {
  text-decoration: line-through;
}

.btn-navbar {
  font-weight: bold;
  color: #8E3DF1!important;
}

.padding-from-navbar {
  padding-top: 56px;
}

.lists-card-title {
  height: 70px;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  overflow: hidden;
}
