* {
  font-family: Ubuntu, sans-serif;
}

html, body {
  height: 100%!important;
}

body {
  background-color: #F5F5F5;
}

.content-with-discount {
  min-height: calc(100vh - 204px);
}

.content-without-discount {
  min-height: calc(100vh - 116px);
}

.footer {
  flex-shrink: 0;
  height: 60px;
  line-height: 60px;
}

.text-line-through {
  text-decoration: line-through;
}

.btn-navbar {
  font-weight: bold;
  color: #8E3DF1!important;
}

.padding-from-navbar {
  padding-top: 56px;
}

.lists-card-title {
  height: 70px;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  overflow: hidden;
}

.img-card-list {
  height: 190px;
  width: 190px;
}

.avatar-profile {
  height: 250px;
  width: 250px;
}

.w-30 {
  width: 30%;
}

.banner-item {
  width: 20%;
  height: 275px;
  padding: 5px;
  border: 3px solid #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}