<div id="banner">
  <div id="banner-container" class="container text-white h-100">
    <% if @well_evaluated.present? %>
      <%= render 'layouts/well_evaluated_courses' %>
    <% else %>
      <h1>Venha estudar conosco!</h1>
      <h2>TODO: Falar quantos cursos, quantos alunos e quantos professores</h2>
    <% end %>

  </div>
</div>


