<% if @active_discount.present? %>
  <div class="text-center py-2" id="discount-alert">
    <h1>
      Aproveite o desconto <%= @active_discount.title %>!<br />
      <%= @active_discount.discount %>% de desconto em todos os cursos!
    </h1>
  </div>
<% end %>


