<% if @discount.present? %>
  <div class="text-center py-2" id="discount-alert">
    <h1>
      Aproveite o desconto de <%= @discount.title %>!<br />
      <%= @discount.discount %>% de desconto em todos os cursos!
    </h1>
  </div>
<% end %>


